:root {
        --ic-brand-primary-darkened-5: #7FC4E6;
--ic-brand-primary-darkened-10: #78BADA;
--ic-brand-primary-darkened-15: #72B0CE;
--ic-brand-primary-lightened-5: #8BD0F2;
--ic-brand-primary-lightened-10: #91D2F3;
--ic-brand-primary-lightened-15: #97D5F3;
--ic-brand-button--primary-bgd-darkened-5: #7FC4E6;
--ic-brand-button--primary-bgd-darkened-15: #72B0CE;
--ic-brand-button--secondary-bgd-darkened-5: #DFDFDF;
--ic-brand-button--secondary-bgd-darkened-15: #C7C7C7;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0369A3;
--ic-link-color-lightened-10: #1C81BC;
--ic-brand-primary: #85cef2;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #0374B5;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #eaeaea;
--ic-brand-button--secondary-text: #2D3B45;
--ic-brand-global-nav-bgd: #061d4b;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: #2d338d;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #061d4b;
--ic-brand-global-nav-avatar-border: #2d338d;
--ic-brand-global-nav-menu-item__badge-bgd: #061d4b;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #061d4b;
--ic-brand-header-image: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_134220000000000001/attachments/2/CHHS_NavLogo2.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_134220000000000001/attachments/3/CHHS_Favicon.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_134220000000000001/attachments/4/CHHS_MobHscreen.png');
--ic-brand-msapplication-tile-color: #ffffff;
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_134220000000000001/attachments/5/2_colour_Final_CHHS_Logo_layers.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_134220000000000001/attachments/6/2_colour_Final_CHHS_Logo_layers.png');
--ic-brand-Login-body-bgd-color: #061d4b;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_134220000000000001/attachments/11/brandi-redd-122054-unsplash.jpg');
--ic-brand-Login-body-bgd-shadow-color: #ffffff;
--ic-brand-Login-logo: url('https://instructure-uploads-apse2.s3.ap-southeast-2.amazonaws.com/account_134220000000000001/attachments/10/Loginlogo_145.png');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: #ffffff;
--ic-brand-Login-Content-inner-border: #ffffff;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #061d4b;
--ic-brand-Login-Content-password-text-color: #061d4b;
--ic-brand-Login-footer-link-color: #061d4b;
--ic-brand-Login-footer-link-color-hover: #85cef2;
--ic-brand-Login-instructure-logo: #061d4b;
      }